a:link {
    color: gray;
  }
  a:visited {
    color: green;
  }
  a:hover {
    color: rebeccapurple;
  }
  a:active {
    color: teal;
  }

  button {
    background-color: #0c80f3;
    border: 2px solid #0ff166;
    border-radius: 10px;
    width: auto;
  }
